@import "tailwindcss";


/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: rgb(53, 190, 78);
    border: 1px solid greenyellow;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    font-size: 30px;
  }
}
